h1 {
  color: green;
  text-align: center;
  font-size: 35px;
}

h2 {
  color: Green;
  font-size: 30px;
}

table {
  border: 2px solid green;
  width: 100%;
  height: 10%;
  color: green;
  background-color: pink;
  font-weight: bolder;
  font-size: 25px;
}

.sidebar table {
  margin: 2px;
  border: 2px solid green;
  padding: 4px;
  width: 15%;
  background-color: orange;
  font-size: 20px;
  font-weight: bold;
  line-height: inherit;
  height: 60%;
}

img {
  float: right;
  width: 83%;
  height: 60%;
}

.pet {
  color: dark grey;
  font-size: 20px;
  margin: 2px;
  border: 2px solid green;
  padding: 4px;
  background-color: pink;
}

.shelter {
  width: 33%;
  float: left;
  font-size: 20px;
  color: red;

}
