@media screen and (min-width: 450px) and (max-width: 1000px){
  body {
    background-color: #F5F5DC;
    color: white;
  }
}

@media screen and (max-width: 449 px) {
  body {
    background-color: grey;
    color: white;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1001px) {
  body {
    background-color: skyblue;
    color: black;
  }
}

h1 {
  color: green;
  text-align: center;
  font-size: 35px;
}

h2 {
  color: Green;
  font-size: 30px;
}

table {
  border: 2px solid green;
  width: 100%;
  height: 10%;
  color: green;
  background-color: pink;
  font-weight: bolder;
  font-size: 25px;
}

.sidebar table {
  margin: 2px;
  border: 2px solid green;
  padding: 4px;
  width: 15%;
  background-color: orange;
  font-size: 20px;
  font-weight: bold;
  line-height: inherit;
  height: 60%;
}

img {
  float: right;
  width: 83%;
  height: 60%;
}

.pet {
  color: dark grey;
  font-size: 20px;
  margin: 2px;
  border: 2px solid green;
  padding: 4px;
  background-color: pink;
}

.shelter {
  width: 33%;
  float: left;
  font-size: 20px;
  color: red;
}

.animal {
  color: blue;
}

 .dog {
  color: blue;
  font-size: 20px;
  width: 50%;
  font-family: fantasy;
}

.dog1 {
  color: red;
  font-size: 20px;
  width: 50%;
  font-family: fantasy;
}

.dog2 {
  color: black;
  font-size: 20px;
  width: 50%;
  font-family: fantasy;
}

.dog ul {
  list-style-type: none;
  padding: 80px;
  margin-right: 10px;
  font-size: 20px;
}

.dog1 ul {
  list-style-type: none;
  padding: 80px;
  margin: 10px;
  font-size: 20px;
}

.dog2 ul {
  list-style-type: none;
  padding: 80px;
  margin-right: 10px;
  font-size: 20px;

}

.puppy {
  float: right;
  width: 500px;
  height: 500px;
}

.dogp {
  font-size: 30px;
  font-family: fantasy;
}
